<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Members Only</title>
</head>

<body>
  <div class="container">
    <%- include("./../partials/header.ejs") %>
    <main>
      <% if (locals.page==="posts") {%>
      <%- include("./../partials/posts.ejs") %>
      <% } else if (locals.page==="login") { %>
      <%- include("./../partials/login.ejs") %>
      <% } else  { %>
      <p class="empty">Unknown Page</p>
      <% } %>
    </main>
    <%- include("./../partials/footer.ejs") %>
  </div>
</body>

</html>