/* Ressetings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

svg {
  fill: currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* General CSS */

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--bg);
  color: var(--text);

  /* Variables */
  --bg: #0f0f0f;
  --bg-lighter: #2a2929;
  --text: #fff;
  --primary: #ffc805;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-inline: 8rem;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.header {
  border-bottom: 2px solid var(--bg-lighter);
}

.logo {
  font-weight: 700;
  font-size: 1.8rem;
  border-bottom: 0.2rem solid var(--primary);
  line-height: 1.2;
  text-decoration: none;
  color: var(--text);
}

.header .buttons {
  display: flex;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.button {
  border: 0.125rem solid var(--primary);
  padding: 0.125rem 0.75rem;
  border-radius: 0.5rem;
  transition:
    ease 0.4s background-color,
    ease 0.4s color;
  background-color: transparent;
  color: var(--primary);
}

.button:hover {
  background-color: var(--primary);
  color: var(--bg);
}

.footer {
  border-top: 2px solid var(--bg-lighter);
}

.footer a {
  display: flex;
  gap: 0.5ch;
  color: var(--primary);
  margin: auto;
  align-items: center;
}

.footer svg {
  will-change: transform;
  max-width: 1.2rem;
  transition: 0.4s transform;
}

.footer a:hover svg {
  transform: scale(1.15);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.login-notification {
  border: 2px solid var(--bg-lighter);
  width: 32rem;
  border-radius: 0.75rem;
}

.login-notification {
  background-color: var(--primary);
  color: var(--bg);
  padding: 0.75rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-notification a {
  color: var(--bg-lighter);
  text-decoration:underline;
}

.posts {
  height: 100%;
  display: grid;
}

.empty {
  margin: auto;
}