<header class="header">
    <a class="logo" href="/">
      Members Only
    </a>
    <div class="buttons">
      <a href="/login" class="button">
        Login
      </a>
      <a href="/register" class="button">
        Register
      </a>
    </div>
  </header>