<form action="/new-post" method="post" class="form">
  <h1>New post</h1>
  <p>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Type here...">
  </p>
  <p>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc" placeholder="Type here..."></textarea>
  </p>
  <button type="submit" class="button">Submit</button>
</form>