<div class="post">
  <p class="fullname"><%= post.fullname %></p>
  <p class="info">
    <%= `@${post.username} • time passed` %>
  </p>
  <h2 class="title"><%= post.title %></h2>
  <p class="desc"><%= post.description %></p>
</div>